<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /nuviserpx/

    # Prevent access to sensitive dotfiles (.env, .git)
    RewriteRule ^(\.env|\.git) - [F,L]

    # Send requests to the public subfolder
    RewriteCond %{REQUEST_URI} !^/nuviserpx/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
