<IfModule mod_rewrite.c>
    RewriteEngine On

    # Deny access to sensitive files
    RewriteRule ^(\.env|\.git) - [F,L]

    # Handle Subdirectory / Root Rewrite to public directory
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
